h1
{
    font-size: 35pt;
    font-family: 'Bangers', cursive;
    margin: 30px 0px;
}

body
{   
    font-family: 'Roboto', cursive;
    font-size: 20pt;
}

#cont-busqueda
{
    display: none;
}

#total-resultados
{
    font-size: 10pt;
    color: gray;
}

.titulos
{
    color: rgb(0, 6, 43);
}

.titulos:hover
{
    color: rgb(115, 117, 131);
}

.img-busqueda
{
    height: 80px;
}

.ano-busqueda
{
    font-size: 11pt;
}

.info-pelicula
{
    font-size: 12pt;
}

#accordion
{
    font-size: 12pt;
}