<div class="container">
  <div class="row">
    <div class="col s4 offset-s4 center-align">
      <h4>Mascotapp</h4>
      <img src="./../../../assets/img/huella.png" alt="logo mascotapp" id="logo-login" class="responsive-img center-align">
    </div>
  </div>
  <div class="row">
    <div class="col s6 offset-s3">
      <div class="col s12 input-field">
        <input type="text" id="nombre">
        <label for="nombre">Nombre</label>
      </div>
      <div class="col s12 input-field">
        <input type="email" id="email">
        <label for="email">Email</label>
      </div>
      <div class="input-field col s12">
        <select>
          <option value="" disabled selected>Tipo de mascota</option>
          <option value="perro">perro</option>
          <option value="gato">gato</option>
          <option value="otro">otro</option>
        </select>
      </div>
      <div class="col s12 input-field">
        <input type="password" id="password">
        <label for="password">contraseña</label>
      </div>
      <div class="col s12 input-field">
        <input type="password" id="password2">
        <label for="password2">confirmar contraseña</label>
      </div>
    </div>
    <div class="col s12 center-align">
      <p *ngIf="action==='login'">¿Aún no tienes cuenta? <a (click)="action='register'">Regístrate!</a></p>
      <p *ngIf="action==='register'">¿Ya tienes cuenta? <a (click)="action='login'">Ingresa!</a></p>
    </div>
  </div>
</div>